framework:
    messenger:
        transports:
            emails:
                dsn: 'doctrine://default'
                options:
                    queue_name: 'emails'
            export:
                dsn: 'doctrine://default'
                options:
                    queue_name: 'exports'

        routing:
            'App\Message\UserRegisteredNotification': 'emails'
            'App\Message\TestEmailNotification': 'emails'
            'App\Message\NewSongRequestNotification': 'emails'
            'App\Message\PasswordUpdatedNotification': 'emails'
            'App\Message\EventConcludedNotification': 'export'
            'App\Message\ForgottenPasswordNotification': 'emails'
