framework:
    rate_limiter:
        register:
            policy: 'sliding_window'
            limit: 3
            interval: '15 minutes'
        forgotten_password:
            policy: 'sliding_window'
            limit: 3
            interval: '15 minutes'
