parameters:
    PARTYNEXUS_VERSION: 'indev'
    PARTYNEXUS_COMMIT: 'INDEV'
    env(PICTURES_LOCATION): '%kernel.project_dir%/var/uploaded_pictures'
    env(TIMELAPSES_LOCATION): '%kernel.project_dir%/var/timelapses'
    env(EXPORTS_LOCATION): '%kernel.project_dir%/var/exports'
    env(SONG_EXTRACT_LOCATION): '%kernel.project_dir%/var/wip_songs'
    env(SONG_LOCATION): '%kernel.project_dir%/var/songs'
    env(PUBLIC_URL): 'https://partyhall.example.com'
    env(SPOTIFY_CLIENT_ID): ''
    env(SPOTIFY_CLIENT_SECRET): ''
    env(MESSENGER_TRANSPORT_DSN): '%env(REDIS_DSN)%'
    env(CACHE_REDIS_PROVIDER): '%env(REDIS_DSN)%'
    env(LOCK_DSN): '%env(REDIS_DSN)%'
    env(MERCURE_BASE_URL): 'http://app'
    env(JWT_PASSPHRASE): 'partynexus_default_passphrase'
    env(SENTRY_ENV): 'prod'
    
    env(OAUTH_ENABLED): false
    env(OAUTH_BASE_URL): ''
    env(OAUTH_CLIENT_ID): ''
    env(OAUTH_CLIENT_SECRET): ''
    env(OAUTH_BUTTON_ICON): ''
    env(OAUTH_BUTTON_TEXT): 'Login with OAuth'
    env(OAUTH_BUTTON_COLOR): ''
    env(OAUTH_BUTTON_COLOR_HOVER): ''
    env(OAUTH_BUTTON_COLOR_TEXT): ''
    
    oauth.enabled: '%env(bool:OAUTH_ENABLED)%'
    oauth.base_url: '%env(OAUTH_BASE_URL)%'
    oauth.client_id: '%env(OAUTH_CLIENT_ID)%'
    oauth.client_secret: '%env(OAUTH_CLIENT_SECRET)%'
    oauth.button_icon: '%env(OAUTH_BUTTON_ICON)%'
    oauth.button_text: '%env(OAUTH_BUTTON_TEXT)%'
    oauth.button_colors.main: '%env(OAUTH_BUTTON_COLOR)%'
    oauth.button_colors.hover: '%env(OAUTH_BUTTON_COLOR_HOVER)%'
    oauth.button_colors.text: '%env(OAUTH_BUTTON_COLOR_TEXT)%'
    
    thumbnails_location: '%env(PICTURES_LOCATION)%/thumbnails'
    
services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
    
    App\EventListener\ProblemDetailsExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception, priority: 255 }

    # api_platform.state.error_provider:
        # class: App\State\Provider\ErrorProvider
        # tags:
            # - { name: 'api_platform.state_provider', key: 'api_platform.state.error_provider' }
