{% extends 'emails/base.html.twig' %}

{% block content %}
    <p>{{'emails.login.text1' | trans}}:</p>

    <center>
        <button class="expanded" href="{{link}}">{{'emails.login.link' | trans}}</button>
    </center>

    <p>{{'emails.login.warning' | trans}}</p>
{% endblock %}
