.DialogOverlay {
  @apply bg-synthbg-900/70;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.DialogContent {
  @apply bg-synthbg-800 text-gray-100 rounded-lg shadow-lg p-6 max-w-md w-full box-purple-glow;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-height: 50%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}
